.task-item {
  background-color: rgb(231, 231, 233);
  margin-top: 0.25em;
  padding: 1em;
  border-radius: 0.25em;
}

.task-item h3 {
  display: flex;
  justify-content: space-between;
}

.task-item.reminder {
  border-left: 5px solid green;
}
