<form class="addTask-form">
  <div>
    <label for="task">Task</label>
    <input type="text" name="taskName" id="task" placeholder="Add Task" />
  </div>
  <div>
    <label for="date">Date & Time</label>
    <input
      type="text"
      name="date&time"
      id="date"
      placeholder="Add Day and Time"
    />
  </div>
  <div class="checkbox-sec">
    <label>Set Reminder</label>
    <input type="Checkbox" checked="{reminder}" name="reminderCheck" />
  </div>
  <input type="submit" value="Save Task" class="btn submit-btn" />
</form>
